{% load static %}
{% block left_sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">
            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">


                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i data-feather="home"></i>
                                <span class="badge rounded-pill text-success float-end">9+</span>
                                <span data-key="t-dashboard">Admin Dashboard</span>
                            </a>
                        </li>

                   
                      
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="users"></i>
                                <span data-key="t-authentication">Users management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'user_list' %}">All Users List</a></li>
                                <li><a href="{% url 'dentist_list' %}">Dentist List</a></li>
                                <li><a href="{% url 'customer_list' %}">Patient List</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'list_support_tickets' %}">
                                <i data-feather="message-circle"></i>
                                <span data-key="t-chat-support">Chat Support</span>
                            </a>
                        </li>


                        <li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="inbox"></i>
                                    <span data-key="t-authentication">Enquiry</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'list_enquiry' %}">List Enquiry</a></li>
                                </ul>
                            </li>
                        <li>
                     

                            <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="image"></i>
                                <span data-key="t-authentication">Banner</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'add_home_banner' %}">Banner Add</a></li>
                                <li><a href="{% url 'list_home_banner' %}">Banner List</a></li>

                            </ul>
                        </li>
                        
                        <li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="clock"></i>
                                    <span data-key="t-authentication">Slot</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_slot' %}">Add Slot</a></li>
                                    <li><a href="{% url 'list_slot' %}">Slot List</a></li>
                                </ul>
                            </li>
                        <li>
                        
                        <li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="package"></i>
                                    <span data-key="t-authentication">Medicine</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_medicine' %}">Add Medicine</a></li>
                                    <li><a href="{% url 'list_medicine' %}">Medicine List</a></li>
                                </ul>
                            </li>
                        <li>
                            
                        <li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="activity"></i>
                                    <span data-key="t-authentication">Treatment</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_treatment' %}">Add Treatment</a></li>
                                    <li><a href="{% url 'list_treatment' %}">Treatment List</a></li>
                                </ul>
                            </li>
                        <li>





                        <li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="dollar-sign"></i>
                                    <span data-key="t-authentication">Paid doubts</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'list_paiddoubts' %}">List Paiddoubts</a></li>
                                    <li><a href="{% url 'list_prescription' %}">List Prescription</a></li>
                                </ul>
                            </li>
                        <li>


                      
                       
                        <li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="help-circle"></i>
                                    <span data-key="t-authentication">FAQ</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_faq' %}">Add FAQ </a></li>
                                    <li><a href="{% url 'list_faq' %}"> List FAQ</a></li>
                                </ul>
                            </li>
                        <li>

                       
                        
                       
                        

                       
                       
                  
                        <div style="margin: 100% 0 0 35%; align-content: center">
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="background-color: #4952FB;" >Logout</button>
                        </form>
                        </div>
                    </ul>

                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock left_sidebar %}